/*-------------- HEADER--------------*/
/*body{
  font-family: Helvetica;
}*/

body{
  color: #888;
  font-family: 'Futura-Normal', Helvetica, sans-serif;
}

h1{
  margin-bottom: 35px;
}

hr{
  width: 55%;
  margin: 0 auto;
  background: #888;
  height: 1px;
}

.container-fluid{
  padding: 0;
}

.wrapper{
  max-width: 100%;
  margin: 0 auto;
}

.bg-img{
  width: 100%;
  max-height: 650px;
  background-size: cover;
  background-position: top center;
  background-repeat: repeat-x;
}

.carousel-caption{
  font-size: 30px;
}

.carousel-caption .title-top-bg{
  font-size: 60px;
}

.navbar-header .navbar-brand{
  background: url("img/logo/logo-1.png") no-repeat;
  width: 130px;
  height: 65px;
  margin-left: 10px !important;
}

.navbar-nav{
  margin: 10px 0 0 0;
  float: left;
}

@media screen and (min-width: 768px){
  .navbar-nav{
    margin: 10px 0 0 0;
    float: right;
  }
}

.navbar-default .navbar-nav>li>a {
    font-size: 14.5px;
    color: #395293;
    font-weight: bold;
    padding: 10px 10px;
  }

  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #888;
  }

/*.contacts{
  font-size: 18px;
}*/

.navbar{
  margin-bottom: 0;
}

.affix{
  top: 0;
  width: 100%;
  z-index: 1000;
}

/*Block Advantages*/

.bg-1{
  background: #f6f6f6;
  padding: 100px 0 50px 0;
}




.main-box{
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

#icon-description-1:checked ~ .position-content-box .content-box .description-1,
#icon-description-2:checked ~ .position-content-box .content-box .description-2,
#icon-description-3:checked ~ .position-content-box .content-box .description-3,
#icon-description-4:checked ~ .position-content-box .content-box .description-4,
#icon-description-5:checked ~ .position-content-box .content-box .description-5,
#icon-description-6:checked ~ .position-content-box .content-box .description-6{
  opacity: 1;
  width: 100%;
  height: 100%;
}

#icon-description-1,
#icon-description-2,
#icon-description-3,
#icon-description-4,
#icon-description-5,
#icon-description-6{
  display: none;
}

#icon-description-1:checked + label .icon1,
#icon-description-2:checked + label .icon2,
#icon-description-3:checked + label .icon3,
#icon-description-4:checked + label .icon4,
#icon-description-5:checked + label .icon5,
#icon-description-6:checked + label .icon6{
  color: #395293;
}


.main-box label{
      padding: 0 2%;
}

.main-box label p {
  font-size: 20px;
}

.fa-5x{
  font-size: 8em;
}

.position-content-box{
  padding: 100px 0 0 0;
}

.content-box{
  width: 700px;
  height: 250px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 5px #ccc;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
}

.description-1,
.description-2,
.description-3,
.description-4,
.description-5,
.description-6{
  opacity: 0;
  width: 100%;
  height: 0;
}

.description-1,
.description-2,
.description-3,
.description-4,
.description-5,
.description-6{
  font-size: 22px;
  color: #395293;
  font-weight: bold;
  transition: 1s;
}

.description-1 p, .description-1 strong,
.description-2 p, .description-2 strong,
.description-3 p, .description-3 strong,
.description-4 p, .description-4 strong,
.description-5 p, .description-5 strong,
.description-6 p, .description-6 strong{
  color: #888;
  font-size: 18px;
}


































/*
.main-box{
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.icon1:hover ~ .position-content-box .content-box .description-1,
.icon2:hover ~ .position-content-box .content-box .description-2,
.icon3:hover ~ .position-content-box .content-box .description-3,
.icon4:hover ~ .position-content-box .content-box .description-4,
.icon5:hover ~ .position-content-box .content-box .description-5,
.icon6:hover ~ .position-content-box .content-box .description-6{
  opacity: 1;
  width: 100%;
  height: 100%;
}

.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover,
.icon5:hover,
.icon6:hover{
  color: #395293;
}


.fa-5x{
    padding: 0 3.9%;

}

.position-content-box{
  padding: 100px 0 0 0;
}

.content-box{
  width: 700px;
  height: 250px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 5px #ccc;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
}

.description-1,
.description-2,
.description-3,
.description-4,
.description-5,
.description-6{
  opacity: 0;
  width: 100%;
  height: 0;
}

.description-1,
.description-2,
.description-3,
.description-4,
.description-5,
.description-6{
  font-size: 24px;
  color: #395293;
  font-weight: bold;
  transition: 1.5s;
}

.description-1 p, .description-1 strong,
.description-2 p, .description-2 strong,
.description-3 p, .description-3 strong,
.description-4 p, .description-4 strong,
.description-5 p, .description-5 strong,
.description-6 p, .description-6 strong{
  color: #888;
  font-size: 20px;
}
*/




/*CENTER CIRCLE*/


/*.partners:hover .fa-5x{
  color: green;
}
.geography:hover .fa-5x{
  color: lightgreen;
}
.capabilities:hover .fa-5x{
  color: lightgreen;
}
.success:hover .fa-5x{
  color: lightgreen;
}
.potential:hover .fa-5x{
  color: lightgreen;
}
.team:hover .fa-5x{
  color: lightgreen;
}
.history:hover .fa-5x{
  color: lightgreen;
}*/









/*.fa-5x {
    font-size: 8em;
    padding: 30px 9px;
}*/

.description{
  margin: 30px 12px;
  font-size: 22px;
  color: #395293;
  font-weight: bold;
}

.description p, .description strong{
  color: #888;
  font-size: 18px;
}

/*-------------- DESCRIBE CIRCLES--------------*/
/*-------------- DESCRIBE TEXT--------------*/


/*-------------- DESCRIBE CIRCLES--------------*/
/*-------------- DESCRIBE CIRCLES--------------*/
/*-------------- DESCRIBE CIRCLES--------------*/


.information-right{
  padding-left: 130px;
  min-width: 350px;
  max-width: 500px;
  opacity: 0;
  font-size: 16px;
  transition: 1s;
  visibility: hidden;
  margin-top: 40px;
}

.information-left{
  margin-left: -320px;
  text-align: right;
  width: 310px;
  opacity: 0;
  font-size: 16px;
  transition: 1s;
  visibility: hidden;
  margin-top: 35px;
}

.information-left p,
.information-right p{
    margin-bottom: 4px;
}

.icon-home:hover .information-right,
.icon-2:hover .information-right,
.icon-3:hover .information-right,
.icon-4:hover .information-right,
.icon-5:hover .information-right,
.icon-6:hover .information-left,
.icon-7:hover .information-left,
.icon-8:hover .information-left,
.icon-9:hover .information-left,
.icon-10:hover .information-left{
  visibility: visible;
  opacity: 1;
}

.center-circle{
  /*background: url("http://egetrener.ru/files/B8/_138.jpg") no-repeat;*/
  background-position: left;
  width: 375px;
  height: 375px;
  background: #ccc;
  border-radius: 50%;
  margin: 100px auto;
  position: relative;
  top: 0;
  left: 0;
}

.icon-home{
  background: url("img/icons2/2-1.png") no-repeat;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-position: left;
  position: absolute;
  top: -60px;
  left: 195px;
}
.icon-2{
  background: url("img/icons2/2-2.png") no-repeat;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-position: left;
  position: absolute;
  top: 25px;
  left: 290px;
}
.icon-3{
  background: url("img/icons2/2-3.png") no-repeat;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-position: left;
  position: absolute;
  top: 140px;
  left: 330px;
}
.icon-4{
  background: url("img/icons2/2-4.png") no-repeat;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-position: left;
  position: absolute;
  top: 255px;
  left: 290px;
}
.icon-5{
  background: url("img/icons2/2-5.png") no-repeat;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-position: left;
  position: absolute;
  top: 330px;
  left: 195px;
}
.icon-6{
  background: url("img/icons2/2-6.png") no-repeat;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-position: right;
  position: absolute;
  top: 330px;
  left: 75px;
}
.icon-7{
  background: url("img/icons2/2-7.png") no-repeat;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-position: left;
  position: absolute;
  top: 255px;
  left: -25px;
}
.icon-8{
  background: url("img/icons2/2-8.png") no-repeat;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-position: left;
  position: absolute;
  top: 140px;
  left: -60px;
}
.icon-9{
  background: url("img/icons2/2-9.png") no-repeat;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-position: left;
  position: absolute;
  top: 20px;
  left: -35px;
}
.icon-10{
  background: url("img/icons2/2-10.png") no-repeat;
  height: 115px;
  width: 115px;
  border-radius: 50%;
  background-position: left;
  position: absolute;
  top: -60px;
  left: 65px;
}








/*-------------- FOOTER--------------*/

footer{
  background: darkgreen;
  color: #ffffff;
  padding-top: 30px;
}

/*-------------- DESCRIBE CIRCLES--------------*/
/*-------------- DESCRIBE CIRCLES--------------*/
